*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-bg-color: linear-gradient(#f8f9f9, #3fc5ee);
    --secondary-bg-color: #ebfffc;
    --primary-text-color: black;
    --secondary-text-color: gray;
}
.dark-theme{
    --primary-bg-color: linear-gradient(#595b5b, #101010);
    --secondary-bg-color: #474c4b;
    --primary-text-color: white;
    --secondary-text-color: white;
}

body{
    background-image: var(--primary-bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: whitesmoke ; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
    height: 100vh;
}

.card{
    
    width: 25vw;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3% 2%;
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(150px);
    -webkit-backdrop-filter: blur(10px);
    /* opacity: 0.3; */
    /* background-image: linear-gradient(-45deg, ); */
    /* background-color: #c3c9c8; */
    text-align: center;
}

.search{
    padding: 2% 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.search input{
    border: 0;
    outline: 0;
    background: var(--secondary-bg-color);
    height: 50px;
    width: 70%;
    color: var(--secondary-text-color);
    border-radius: 20px;
    padding: 0 5%;
    font-size: 18px;
}

.search button{ 
    border: 0;
    outline: 0;
    background: var(--secondary-bg-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search button img{
    width: 30px;
}

#theme-icon{
    width: 30px;
    cursor: pointer;
}

.weather{
    margin-top: 30px;
    visibility: hidden;
}
h1{
    font-size: 4rem;
    font-weight: 500px;
}
h2{
    font-size: 2rem;
    font-weight: 400px;
}
.weather-icon{
    width: 170px;
}

.details{
    margin-top:60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.details .col{
    display: flex;
    align-items: center;
    text-align: left;
}

.details .col img{
    margin-right: 15px;
    height: 34px;
}

p{
    font-size: 1rem;
}

.humidity, .wind, .pressure{
    font-size: 28px;
}
